
    <div id="footer">
    <div class="container">
      <p class="footer-block">
        <div class="row">
          <div class="col-md-6">
            <div class="tiny">
                Steelwood Athletic Training Facility- Ohio State Gym <br>
                1160 Steelwood Rd Columbus, Ohio (863) 409-9876
              </div>
            </div>
            <div class="col-md-6">
              <div class="tiny float-right">International Gymnastics Academy &copy;<br>
                Icons made by <a href="https://www.freepik.com/" title="Freepik">Freepik</a> from
                  <a href="https://www.flaticon.com/" 	title="Flaticon">www.flaticon.com</a>
                  is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a>
              </div>
            </div>
        </div>
      </p>
    </div>
  </div>

  </body>
</html>
